.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a3d6eb;
  z-index: 9999;
}

.overlay-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  width: 250px;
}

:has(.overlay-wrapper) {
  border-radius: 10px !important;
}

#__react-kakao-maps-sdk___Map {
  border-radius: 0px !important;
}

.button-wrapper > button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #eee;
}

.button-wrapper {
  margin-bottom: 10px;
}

.overlay {
  padding: 7.5px;
  line-height: 4.5px;
  cursor: pointer;
}

.overlay > .location {
  font-weight: bold;
  font-size: 15.5px;
}

.overlay > .more {
  font-size: 13px;
  color: rgb(92, 92, 92);
}

.eq-info-wrapper {
  display: flex;
  top: 10px;
  margin: 5px;
  gap: 15px;
}

@media (max-width: 800px) {
  .eq-info-image {
    width: 400px;
    height: 400px;
  }

  .eq-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
}