.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.overlay-wrapper {
  text-align: center;
}

.button-wrapper > button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

.button-wrapper {
  margin-bottom: 10px;
}

.overlay {
  padding: 5px;
  line-height: 3px;
  cursor: pointer;
  text-align: center;
}

.overlay > .title {
  font-weight: bold;
}
